/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

        GENERAL TODA LA PAG

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

body {
  background: rgb(28, 27, 51) !important;
  background: linear-gradient(
    90deg,
    rgba(28, 27, 51, 1) 0%,
    rgba(164, 15, 15, 1) 69%,
    rgba(128, 0, 58, 1) 100%
  ) !important;
}

.form-control:focus {
  color: #222222 !important;
  background-color: #fff !important;
  border-color: #fe8686 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%) !important;
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            NAVEGADOR

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

#navbarNavAltMarkup {
  justify-content: flex-end !important;
}

#BOTON-NAV {
  margin: 5px 10px 5px 10px;
  color: white;
}

#BOTON-NAV:hover {
  color: rgb(100, 100, 100);
}

#SUSCRIPCION {
  display: flex;
  text-align: justify;
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            MAIN GALERIA

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

.dropdown-margin{
  margin-top: 80px;
  margin-bottom: 43px;
}

.bg-drop{
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.c-li:hover{
  color: rgb(100, 100, 100) !important;
}

h1{
  color:white;
}

.h-card{
  height: 100% !important;
  /* height: 250px; */
  /* object-fit: cover; */
}
/* .h-card img {
  height: ;
} */

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            MAIN CONTACTO

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/


/* .fondo-contacto{
  position: absolute;
  z-index: -1;
  
}

.ob-fit{
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  main div img.ob-fit{
    display: none;
  }
}

@media screen and (max-width: 1100px) {
   .ob-fit{
    height: 92% !important;
  }
} */


/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            FOOTER

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/
main {
  min-height: calc(100vh - 104px);
}

footer {
  font-size: 0.75rem !important;
  /* position: absolute;
  bottom: 0;
  width: 100%; */

}

footer a {
  color: white !important;
}

footer a:hover {
  color: red !important;
}
